#container1{
    border:1px solid black;
    width:50%;
    height:auto;
    margin:5% auto;
}
.line1{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.line2{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.line3{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.line4{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.line5{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.line6{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.line1,.line2,.line3,.line4,.line5,.line6{
    margin-top:1%;
    margin-bottom:1.5%;
}

/* Jetons + background-color*/

.jetons{
    border:0.5px solid black;
    width:80px;
    height:80px;
    border-radius:100%;
    margin-left:2.5%;
}

.jeton1, .jeton3, .jeton5{
    background-color:red;
}

.jetons2, .jetons4, .jetons6{
    background-color:yellow;
}

/* Animation CSS3 Hover / Active */