body { 
  background-color: #c7f59c; 
  font-family: 'Lato', sans-serif; 
} 
 
.clearfix {clear: both;} 
 
.global{ 
  width: 600px; height: auto; 
  margin: 60px auto 0; 
  background-color: rgb(249, 250, 178); 
  border-radius: 4px; 
  padding: 30px; 
} 
 
header h1 {text-align: center; margin-top: 0; color: #222;} 
header h3 {color: rgb(180, 72, 72);} 
 
.column { 
  float: left; 
  width: 100px; 
} 
 
input[type="radio"] {display: none;} 
input[type="radio"] + label { 
  display: block; 
  height: 80px; width: 80px; 
  background-color: #76bcce; 
  border-radius: 100%; 
  margin: 10px; 
  cursor: pointer; 
  transition: 300ms; 
} 
input[type="radio"] + label:hover { 
  background-color: #bdc3c7; 
} 
input[type="radio"].played + label { 
  cursor: default; 
  z-index: 10 !important; 
} 
 
 
 
input[type="radio"].player:checked + label { background-color: #e74c3c; } 